* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.logo {
    width: 200px;
}

.icon {
    width: 40px
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttonHeader {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.buttonHeader:hover {
    border-color: red;
}